## World Happiness - Final Project - Kristen Goh 
Phase: Data Wrangling

### Import Packages

In [2]:
import numpy as np
import pandas as pd
from functools import reduce
import seaborn as sns

## Plan
1. Import each health variable data file
2. Import each evironmental/support variable data file
3. Merge health variables
4. Merge environemental/support variables
5. Import world happiness data set
6. Merge world happiness data set with health data set and export file
7. Merge world happiness data set with environmental/support data set and export file

## ------------------------------

## Steps 1 & 2 Adding/Cleaning Health & Environmental Variable Files
- Import data
- Subset 2015 data
- Create UID
- Rename columns

## Health Variables (7)

### LifeExpectancy

In [3]:
LifeExpectancy = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/lifeExpectancyAtBirth.csv")

In [5]:
LifeExpectancy

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04
...,...,...,...,...,...
2192,Zimbabwe,2010,Life expectancy at birth (years),Male,49.58
2193,Zimbabwe,2010,Life expectancy at birth (years),Female,53.21
2194,Zimbabwe,2000,Life expectancy at birth (years),Both sexes,46.57
2195,Zimbabwe,2000,Life expectancy at birth (years),Male,45.15
2196,Zimbabwe,2000,Life expectancy at birth (years),Female,48.12

subset 2015 data

In [7]:
LifeExpectancy.drop(LifeExpectancy[LifeExpectancy['Period'] != 2015].index, inplace = True )

In [8]:
LifeExpectancy

,Location,Period,Indicator,Dim1,First Tooltip
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04
5,Afghanistan,2015,Life expectancy at birth (years),Female,62.35
15,Albania,2015,Life expectancy at birth (years),Both sexes,77.84
16,Albania,2015,Life expectancy at birth (years),Male,76.10
...,...,...,...,...,...
2177,Zambia,2015,Life expectancy at birth (years),Male,57.93
2178,Zambia,2015,Life expectancy at birth (years),Female,63.02
2188,Zimbabwe,2015,Life expectancy at birth (years),Both sexes,58.48
2189,Zimbabwe,2015,Life expectancy at birth (years),Male,55.73
2190,Zimbabwe,2015,Life expectancy at birth (years),Female,60.96

In [9]:
LifeExpectancy['UID'] = LifeExpectancy.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
LifeExpectancy.rename(columns={'First Tooltip': 'LifeExpectancy', 'Indicator': 'LifeExpectancyIndicator'}, inplace=True)

In [10]:
LifeExpectancy

,Location,Period,LifeExpectancyIndicator,Dim1,LifeExpectancy,UID
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65,AfghanistanBoth sexes
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04,AfghanistanMale
5,Afghanistan,2015,Life expectancy at birth (years),Female,62.35,AfghanistanFemale
15,Albania,2015,Life expectancy at birth (years),Both sexes,77.84,AlbaniaBoth sexes
16,Albania,2015,Life expectancy at birth (years),Male,76.10,AlbaniaMale
...,...,...,...,...,...,...
2177,Zambia,2015,Life expectancy at birth (years),Male,57.93,ZambiaMale
2178,Zambia,2015,Life expectancy at birth (years),Female,63.02,ZambiaFemale
2188,Zimbabwe,2015,Life expectancy at birth (years),Both sexes,58.48,ZimbabweBoth sexes
2189,Zimbabwe,2015,Life expectancy at birth (years),Male,55.73,ZimbabweMale
2190,Zimbabwe,2015,Life expectancy at birth (years),Female,60.96,ZimbabweFemale

### Infant Mortality

In [11]:
InfantMortality = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/infantMortalityRate.csv")

In [12]:
InfantMortality

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Infant mortality rate (probability of dying be...,Both sexes,46.51 [37.71-55.82]
1,Afghanistan,2019,Infant mortality rate (probability of dying be...,Male,49.8 [40.2-59.95]
2,Afghanistan,2019,Infant mortality rate (probability of dying be...,Female,43.05 [34.82-51.96]
3,Afghanistan,2018,Infant mortality rate (probability of dying be...,Both sexes,48.04 [39.94-56.32]
4,Afghanistan,2018,Infant mortality rate (probability of dying be...,Male,51.35 [42.56-60.4]
...,...,...,...,...,...
29994,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Both sexes,77.08 [70.29-84.49]
29995,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Male,82.53 [74.86-90.67]
29996,Timor-Leste,2002,Infant mortality rate (probability of dying be...,Female,71.37 [64.81-78.76]
29997,Timor-Leste,2001,Infant mortality rate (probability of dying be...,Both sexes,80.96 [74.1-88.4]
29998,Timor-Leste,2001,Infant mortality rate (probability of dying be...,Male,86.46 [78.83-94.89]

In [13]:
InfantMortality.drop(InfantMortality[InfantMortality['Period'] != 2015].index, inplace = True )
InfantMortality['UID'] = InfantMortality.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
InfantMortality.rename(columns={'First Tooltip': 'InfantMortality', 'Indicator': 'InfantMortalityIndicator'}, inplace=True)

In [14]:
InfantMortality

,Location,Period,InfantMortalityIndicator,Dim1,InfantMortality,UID
12,Afghanistan,2015,Infant mortality rate (probability of dying be...,Both sexes,53.17 [46.81-59.79],AfghanistanBoth sexes
13,Afghanistan,2015,Infant mortality rate (probability of dying be...,Male,56.61 [49.71-63.84],AfghanistanMale
14,Afghanistan,2015,Infant mortality rate (probability of dying be...,Female,49.54 [43.39-55.94],AfghanistanFemale
186,Albania,2015,Infant mortality rate (probability of dying be...,Both sexes,8.51 [8.21-8.84],AlbaniaBoth sexes
187,Albania,2015,Infant mortality rate (probability of dying be...,Male,9.41 [9.01-9.84],AlbaniaMale
...,...,...,...,...,...,...
29746,Thailand,2015,Infant mortality rate (probability of dying be...,Male,10.25 [8.96-12.16],ThailandMale
29747,Thailand,2015,Infant mortality rate (probability of dying be...,Female,8.25 [7.18-9.82],ThailandFemale
29955,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Both sexes,43.24 [30.19-60.58],Timor-LesteBoth sexes
29956,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Male,46.92 [32.63-65.66],Timor-LesteMale
29957,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Female,39.41 [27.42-55.42],Timor-LesteFemale

### Suicide Rates

In [15]:
SuicideRates = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/crudeSuicideRates.csv")

In [16]:
SuicideRates.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Crude suicide rates (per 100 000 population),Both sexes,0.0
1,Afghanistan,2016,Crude suicide rates (per 100 000 population),Male,0.0
2,Afghanistan,2016,Crude suicide rates (per 100 000 population),Female,0.0
3,Afghanistan,2015,Crude suicide rates (per 100 000 population),Both sexes,4.8
4,Afghanistan,2015,Crude suicide rates (per 100 000 population),Male,7.8

In [17]:
SuicideRates.drop(SuicideRates[SuicideRates['Period'] != 2015].index, inplace = True )
SuicideRates['UID'] = SuicideRates.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
SuicideRates.rename(columns={'First Tooltip': 'SuicideRates', 'Indicator': 'SuicideRatesIndicator'}, inplace=True)

In [18]:
SuicideRates

,Location,Period,SuicideRatesIndicator,Dim1,SuicideRates,UID
3,Afghanistan,2015,Crude suicide rates (per 100 000 population),Both sexes,4.8,AfghanistanBoth sexes
4,Afghanistan,2015,Crude suicide rates (per 100 000 population),Male,7.8,AfghanistanMale
5,Afghanistan,2015,Crude suicide rates (per 100 000 population),Female,1.5,AfghanistanFemale
18,Albania,2015,Crude suicide rates (per 100 000 population),Both sexes,6.0,AlbaniaBoth sexes
19,Albania,2015,Crude suicide rates (per 100 000 population),Male,7.6,AlbaniaMale
...,...,...,...,...,...,...
2719,Zambia,2015,Crude suicide rates (per 100 000 population),Male,8.7,ZambiaMale
2720,Zambia,2015,Crude suicide rates (per 100 000 population),Female,3.5,ZambiaFemale
2733,Zimbabwe,2015,Crude suicide rates (per 100 000 population),Both sexes,10.6,ZimbabweBoth sexes
2734,Zimbabwe,2015,Crude suicide rates (per 100 000 population),Male,15.5,ZimbabweMale
2735,Zimbabwe,2015,Crude suicide rates (per 100 000 population),Female,6.0,ZimbabweFemale

### Alcohol Substance Abuse

In [19]:
AlcoholSubstanceAbuse = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/AlcoholSubstanceAbuse.csv")

In [20]:
AlcoholSubstanceAbuse.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350

In [21]:
AlcoholSubstanceAbuse.drop(AlcoholSubstanceAbuse[AlcoholSubstanceAbuse['Period'] != 2015].index, inplace = True )
AlcoholSubstanceAbuse['UID'] = AlcoholSubstanceAbuse.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
AlcoholSubstanceAbuse.rename(columns={'First Tooltip': 'AlcoholSubstanceAbuse', 'Indicator': 'AlcoholSubstanceAbuseIndicator'}, inplace=True)

In [22]:
AlcoholSubstanceAbuse

,Location,Period,AlcoholSubstanceAbuseIndicator,Dim1,AlcoholSubstanceAbuse,UID
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210,AfghanistanBoth sexes
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350,AfghanistanMale
5,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Female,0.054,AfghanistanFemale
12,Albania,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.740,AlbaniaBoth sexes
13,Albania,2015,Total (recorded+unrecorded) alcohol per capita...,Male,10.920,AlbaniaMale
...,...,...,...,...,...,...
2761,Zambia,2015,Total (recorded+unrecorded) alcohol per capita...,Male,11.200,ZambiaMale
2762,Zambia,2015,Total (recorded+unrecorded) alcohol per capita...,Female,2.750,ZambiaFemale
2775,Zimbabwe,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.920,ZimbabweBoth sexes
2776,Zimbabwe,2015,Total (recorded+unrecorded) alcohol per capita...,Male,8.430,ZimbabweMale
2777,Zimbabwe,2015,Total (recorded+unrecorded) alcohol per capita...,Female,1.720,ZimbabweFemale

### Mortality Rate Poisoning

In [23]:
MortalityRatePoisoning = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/mortalityRatePoisoning.csv")

In [24]:
MortalityRatePoisoning.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Both sexes,1.19
1,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Male,0.53
2,Afghanistan,Mortality rate attributed to unintentional poi...,2016,Female,1.89
3,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Both sexes,1.22
4,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Male,0.55

In [25]:
MortalityRatePoisoning.drop(MortalityRatePoisoning[MortalityRatePoisoning['Period'] != 2015].index, inplace = True )
MortalityRatePoisoning['UID'] = MortalityRatePoisoning.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
MortalityRatePoisoning.rename(columns={'First Tooltip': 'MortalityRatePoisoning', 'Indicator': 'MortalityRatePoisoningIndicator'}, inplace=True)

In [26]:
MortalityRatePoisoning

,Location,MortalityRatePoisoningIndicator,Period,Dim1,MortalityRatePoisoning,UID
3,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Both sexes,1.22,AfghanistanBoth sexes
4,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Male,0.55,AfghanistanMale
5,Afghanistan,Mortality rate attributed to unintentional poi...,2015,Female,1.92,AfghanistanFemale
18,Albania,Mortality rate attributed to unintentional poi...,2015,Both sexes,0.43,AlbaniaBoth sexes
19,Albania,Mortality rate attributed to unintentional poi...,2015,Male,0.48,AlbaniaMale
...,...,...,...,...,...,...
2719,Zambia,Mortality rate attributed to unintentional poi...,2015,Male,3.92,ZambiaMale
2720,Zambia,Mortality rate attributed to unintentional poi...,2015,Female,2.22,ZambiaFemale
2733,Zimbabwe,Mortality rate attributed to unintentional poi...,2015,Both sexes,2.37,ZimbabweBoth sexes
2734,Zimbabwe,Mortality rate attributed to unintentional poi...,2015,Male,2.33,ZimbabweMale
2735,Zimbabwe,Mortality rate attributed to unintentional poi...,2015,Female,2.41,ZimbabweFemale

### Tobacco Use

In [27]:
Tobacco = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/tobaccoAge15.csv")

In [28]:
Tobacco.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Albania,Age-standardized prevalence of current tobacco...,2018,Both sexes,29.2
1,Albania,Age-standardized prevalence of current tobacco...,2018,Male,50.5
2,Albania,Age-standardized prevalence of current tobacco...,2018,Female,7.9
3,Albania,Age-standardized prevalence of current tobacco...,2017,Both sexes,29.3
4,Albania,Age-standardized prevalence of current tobacco...,2017,Male,50.6

In [29]:
Tobacco.drop(Tobacco[Tobacco['Period'] != 2015].index, inplace = True )
Tobacco['UID'] = Tobacco.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
Tobacco.rename(columns={'First Tooltip': 'Tobacco', 'Indicator': 'TobaccoIndicator'}, inplace=True)
Tobacco

,Location,TobaccoIndicator,Period,Dim1,Tobacco,UID
9,Albania,Age-standardized prevalence of current tobacco...,2015,Both sexes,29.9,AlbaniaBoth sexes
10,Albania,Age-standardized prevalence of current tobacco...,2015,Male,51.4,AlbaniaMale
11,Albania,Age-standardized prevalence of current tobacco...,2015,Female,8.3,AlbaniaFemale
36,Algeria,Age-standardized prevalence of current tobacco...,2015,Both sexes,19.3,AlgeriaBoth sexes
37,Algeria,Age-standardized prevalence of current tobacco...,2015,Male,37.0,AlgeriaMale
...,...,...,...,...,...,...
3979,Zambia,Age-standardized prevalence of current tobacco...,2015,Male,26.1,ZambiaMale
3980,Zambia,Age-standardized prevalence of current tobacco...,2015,Female,4.8,ZambiaFemale
4005,Zimbabwe,Age-standardized prevalence of current tobacco...,2015,Both sexes,14.5,ZimbabweBoth sexes
4006,Zimbabwe,Age-standardized prevalence of current tobacco...,2015,Male,27.5,ZimbabweMale
4007,Zimbabwe,Age-standardized prevalence of current tobacco...,2015,Female,1.5,ZimbabweFemale

### Noncommunable Disease Death Rate

In [30]:
DiseaseDeath = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/30-70cancerChdEtc.csv")

In [31]:
DiseaseDeath

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9
...,...,...,...,...,...
2740,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Male,22.1
2741,Zimbabwe,2005,Probability (%) of dying between age 30 and ex...,Female,22.9
2742,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Both sexes,21.6
2743,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Male,21.6
2744,Zimbabwe,2000,Probability (%) of dying between age 30 and ex...,Female,21.7

In [32]:
DiseaseDeath.drop(DiseaseDeath[DiseaseDeath['Period'] != 2015].index, inplace = True )
DiseaseDeath['UID'] = DiseaseDeath.apply(lambda row : row['Location'] + row['Dim1'], axis=1)
DiseaseDeath.rename(columns={'First Tooltip': 'DiseaseDeath', 'Indicator': 'DiseaseDeathIndicator'}, inplace=True)
DiseaseDeath

,Location,Period,DiseaseDeathIndicator,Dim1,DiseaseDeath,UID
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,AfghanistanBoth sexes
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9,AfghanistanMale
5,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Female,27.8,AfghanistanFemale
18,Albania,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.4,AlbaniaBoth sexes
19,Albania,2015,Probability (%) of dying between age 30 and ex...,Male,20.9,AlbaniaMale
...,...,...,...,...,...,...
2719,Zambia,2015,Probability (%) of dying between age 30 and ex...,Male,18.6,ZambiaMale
2720,Zambia,2015,Probability (%) of dying between age 30 and ex...,Female,17.6,ZambiaFemale
2733,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.4,ZimbabweBoth sexes
2734,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Male,18.6,ZimbabweMale
2735,Zimbabwe,2015,Probability (%) of dying between age 30 and ex...,Female,19.9,ZimbabweFemale

## --------------------------------

## Environmental/Support Factors (5)

### Drinking Water

In [33]:
DrinkingWater = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/basicDrinkingWaterServices.csv")

In [34]:
DrinkingWater.head()

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,Population using at least basic drinking-water...,57.32
1,Afghanistan,2016,Population using at least basic drinking-water...,54.84
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39
3,Afghanistan,2014,Population using at least basic drinking-water...,49.96
4,Afghanistan,2013,Population using at least basic drinking-water...,47.56

In [35]:
DrinkingWater.drop(DrinkingWater[DrinkingWater['Period'] != 2015].index, inplace = True )
DrinkingWater.rename(columns={'First Tooltip': 'DrinkingWater', 'Indicator': 'DrinkingWaterIndicator'}, inplace=True)
DrinkingWater

,Location,Period,DrinkingWaterIndicator,DrinkingWater
2,Afghanistan,2015,Population using at least basic drinking-water...,52.39
20,Albania,2015,Population using at least basic drinking-water...,89.88
38,Algeria,2015,Population using at least basic drinking-water...,88.69
56,Andorra,2015,Population using at least basic drinking-water...,100.00
74,Angola,2015,Population using at least basic drinking-water...,26.71
...,...,...,...,...
3367,Venezuela (Bolivarian Republic of),2015,Population using at least basic drinking-water...,95.83
3385,Viet Nam,2015,Population using at least basic drinking-water...,90.73
3403,Yemen,2015,Population using at least basic drinking-water...,54.70
3421,Zambia,2015,Population using at least basic drinking-water...,40.59
3439,Zimbabwe,2015,Population using at least basic drinking-water...,51.03

In [36]:
DrinkingWater.Location.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### Sanitization Services

In [37]:
SanitizationServices = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/atLeastBasicSanitizationServices.csv")

In [38]:
SanitizationServices.head()

,Location,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Population using at least basic sanitation ser...,2017,Total,43.42
1,Afghanistan,Population using at least basic sanitation ser...,2017,Urban,62.26
2,Afghanistan,Population using at least basic sanitation ser...,2017,Rural,37.05
3,Afghanistan,Population using at least basic sanitation ser...,2016,Total,42.05
4,Afghanistan,Population using at least basic sanitation ser...,2016,Urban,59.92

In [39]:
SanitizationServices.drop(SanitizationServices[SanitizationServices['Period'] != 2015].index, inplace = True )
SanitizationServices.drop(SanitizationServices[SanitizationServices['Dim1'] != 'Total'].index, inplace = True )
SanitizationServices.rename(columns={'First Tooltip': 'SanitizationServices', 'Indicator': 'SanitizationServicesIndicator'}, inplace=True)
SanitizationServices

,Location,SanitizationServicesIndicator,Period,Dim1,SanitizationServices
6,Afghanistan,Population using at least basic sanitation ser...,2015,Total,40.71
60,Albania,Population using at least basic sanitation ser...,2015,Total,97.69
114,Algeria,Population using at least basic sanitation ser...,2015,Total,87.50
168,Andorra,Population using at least basic sanitation ser...,2015,Total,100.00
222,Angola,Population using at least basic sanitation ser...,2015,Total,47.37
...,...,...,...,...,...
9141,Venezuela (Bolivarian Republic of),Population using at least basic sanitation ser...,2015,Total,93.94
9158,Viet Nam,Population using at least basic sanitation ser...,2015,Total,80.08
9212,Yemen,Population using at least basic sanitation ser...,2015,Total,58.50
9266,Zambia,Population using at least basic sanitation ser...,2015,Total,25.98
9320,Zimbabwe,Population using at least basic sanitation ser...,2015,Total,37.57

In [40]:
SanitizationServices.Location.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### Nursing and Midwife

In [41]:
NurseMidwife = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/nursingAndMidwife.csv")

In [42]:
NurseMidwife

,Location,Period,Indicator,First Tooltip
0,Afghanistan,2017,"Nursing and midwifery personnel (per 10,000)",1.76
1,Afghanistan,2016,"Nursing and midwifery personnel (per 10,000)",1.48
2,Afghanistan,2015,"Nursing and midwifery personnel (per 10,000)",1.30
3,Afghanistan,2014,"Nursing and midwifery personnel (per 10,000)",1.48
4,Afghanistan,2013,"Nursing and midwifery personnel (per 10,000)",2.50
...,...,...,...,...
2582,Zimbabwe,2011,"Nursing and midwifery personnel (per 10,000)",13.20
2583,Zimbabwe,2010,"Nursing and midwifery personnel (per 10,000)",8.29
2584,Zimbabwe,2009,"Nursing and midwifery personnel (per 10,000)",9.49
2585,Zimbabwe,1995,"Nursing and midwifery personnel (per 10,000)",15.27
2586,Zimbabwe,1990,"Nursing and midwifery personnel (per 10,000)",14.54

In [43]:
NurseMidwife.drop(NurseMidwife[NurseMidwife['Period'] != 2015].index, inplace = True )
NurseMidwife.rename(columns={'First Tooltip': 'NurseMidwife', 'Indicator': 'NurseMidwifeIndicator'}, inplace=True)
NurseMidwife

,Location,Period,NurseMidwifeIndicator,NurseMidwife
2,Afghanistan,2015,"Nursing and midwifery personnel (per 10,000)",1.30
38,Andorra,2015,"Nursing and midwifery personnel (per 10,000)",40.13
60,Antigua and Barbuda,2015,"Nursing and midwifery personnel (per 10,000)",45.09
74,Armenia,2015,"Nursing and midwifery personnel (per 10,000)",49.54
92,Australia,2015,"Nursing and midwifery personnel (per 10,000)",122.00
...,...,...,...,...
2453,United Arab Emirates,2015,"Nursing and midwifery personnel (per 10,000)",49.83
2482,United Kingdom of Great Britain and Northern I...,2015,"Nursing and midwifery personnel (per 10,000)",82.94
2545,Viet Nam,2015,"Nursing and midwifery personnel (per 10,000)",14.23
2560,Yemen,2015,"Nursing and midwifery personnel (per 10,000)",7.24
2578,Zimbabwe,2015,"Nursing and midwifery personnel (per 10,000)",13.83

In [44]:
NurseMidwife.Location.unique()

array(['Afghanistan', 'Andorra', 'Antigua and Barbuda', 'Armenia',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belarus',
       'Belgium', 'Belize', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Congo', 'Cook Islands', 'Costa Rica', 'CÃ´te dâ€™Ivoire',
       'Croatia', 'Cyprus', 'Czechia', 'Democratic Republic of the Congo',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Fiji', 'Finland',
       'France', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Liberia',
       'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro',
       'Mozambique', 'Namibia', 'Nauru', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Poland', 'Portugal', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Senegal', 'Serbia', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland', 'Viet Nam',
       'Yemen', 'Zimbabwe'], dtype=object)

### Medical Doctors

In [45]:
Doctors = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/medicalDoctors.csv")

In [46]:
Doctors

         Location  Period                     Indicator  First Tooltip
0     Afghanistan    2016  Medical doctors (per 10,000)           2.78
1     Afghanistan    2015  Medical doctors (per 10,000)           2.85
2     Afghanistan    2014  Medical doctors (per 10,000)           2.98
3     Afghanistan    2013  Medical doctors (per 10,000)           2.85
4     Afghanistan    2012  Medical doctors (per 10,000)           2.41
...           ...     ...                           ...            ...
2501     Zimbabwe    2005  Medical doctors (per 10,000)           1.26
2502     Zimbabwe    2004  Medical doctors (per 10,000)           1.74
2503     Zimbabwe    2000  Medical doctors (per 10,000)           1.26
2504     Zimbabwe    1995  Medical doctors (per 10,000)           1.43
2505     Zimbabwe    1990  Medical doctors (per 10,000)           1.27

[2506 rows x 4 columns]

In [47]:
Doctors.Location.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Sudan (until 2011)', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [48]:
Doctors.drop(Doctors[Doctors['Period'] != 2015].index, inplace = True )
Doctors.rename(columns={'First Tooltip': 'Doctors', 'Indicator': 'DoctorsIndicator'}, inplace=True)
Doctors

,Location,Period,DoctorsIndicator,Doctors
1,Afghanistan,2015,"Medical doctors (per 10,000)",2.85
40,Andorra,2015,"Medical doctors (per 10,000)",33.33
69,Armenia,2015,"Medical doctors (per 10,000)",29.14
97,Australia,2015,"Medical doctors (per 10,000)",34.89
112,Austria,2015,"Medical doctors (per 10,000)",51.04
...,...,...,...,...
2362,United Arab Emirates,2015,"Medical doctors (per 10,000)",22.11
2381,United Kingdom of Great Britain and Northern I...,2015,"Medical doctors (per 10,000)",27.47
2413,United States of America,2015,"Medical doctors (per 10,000)",25.78
2463,Viet Nam,2015,"Medical doctors (per 10,000)",7.96
2492,Zimbabwe,2015,"Medical doctors (per 10,000)",1.82

### Clean Fuel and Tech

In [49]:
CleanFuelTech = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Health 2020/cleanFuelAndTech.csv")

In [50]:
CleanFuelTech

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Proportion of population with primary reliance...,2018,37
1,Afghanistan,Proportion of population with primary reliance...,2017,34
2,Afghanistan,Proportion of population with primary reliance...,2016,31
3,Afghanistan,Proportion of population with primary reliance...,2015,29
4,Afghanistan,Proportion of population with primary reliance...,2014,27
...,...,...,...,...
3605,Zimbabwe,Proportion of population with primary reliance...,2004,33
3606,Zimbabwe,Proportion of population with primary reliance...,2003,33
3607,Zimbabwe,Proportion of population with primary reliance...,2002,34
3608,Zimbabwe,Proportion of population with primary reliance...,2001,34
3609,Zimbabwe,Proportion of population with primary reliance...,2000,34

In [51]:
CleanFuelTech.drop(CleanFuelTech[CleanFuelTech['Period'] != 2015].index, inplace = True )
CleanFuelTech.rename(columns={'First Tooltip': 'CleanFuelTech', 'Indicator': 'CleanFuelTechIndicator'}, inplace=True)
CleanFuelTech

,Location,CleanFuelTechIndicator,Period,CleanFuelTech
3,Afghanistan,Proportion of population with primary reliance...,2015,29
22,Albania,Proportion of population with primary reliance...,2015,76
41,Algeria,Proportion of population with primary reliance...,2015,95
60,Andorra,Proportion of population with primary reliance...,2015,95
79,Angola,Proportion of population with primary reliance...,2015,48
...,...,...,...,...
3518,Venezuela (Bolivarian Republic of),Proportion of population with primary reliance...,2015,95
3537,Viet Nam,Proportion of population with primary reliance...,2015,59
3556,Yemen,Proportion of population with primary reliance...,2015,60
3575,Zambia,Proportion of population with primary reliance...,2015,15
3594,Zimbabwe,Proportion of population with primary reliance...,2015,29

In [52]:
CleanFuelTech.Location.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'CÃ´te dâ€™Ivoire',
       'Croatia', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'The former Yugoslav Republic of Macedonia',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

## -----------------

## Merging Data Sets

## Step 3 Merge Health Data

In [53]:
dfs = [LifeExpectancy, InfantMortality, SuicideRates, AlcoholSubstanceAbuse, MortalityRatePoisoning, Tobacco, DiseaseDeath]

In [54]:
Health_All = reduce(lambda left,right: pd.merge(left,right,on='UID'), dfs)

In [55]:
Health_All

,Location_x,Period_x,LifeExpectancyIndicator,Dim1_x,LifeExpectancy,UID,Location_y,Period_y,InfantMortalityIndicator,Dim1_y,...,Location_y,TobaccoIndicator,Period_y,Dim1_y,Tobacco,Location,Period,DiseaseDeathIndicator,Dim1,DiseaseDeath
0,Albania,2015,Life expectancy at birth (years),Both sexes,77.84,AlbaniaBoth sexes,Albania,2015,Infant mortality rate (probability of dying be...,Both sexes,...,Albania,Age-standardized prevalence of current tobacco...,2015,Both sexes,29.9,Albania,2015,Probability (%) of dying between age 30 and ex...,Both sexes,17.4
1,Albania,2015,Life expectancy at birth (years),Male,76.10,AlbaniaMale,Albania,2015,Infant mortality rate (probability of dying be...,Male,...,Albania,Age-standardized prevalence of current tobacco...,2015,Male,51.4,Albania,2015,Probability (%) of dying between age 30 and ex...,Male,20.9
2,Albania,2015,Life expectancy at birth (years),Female,79.69,AlbaniaFemale,Albania,2015,Infant mortality rate (probability of dying be...,Female,...,Albania,Age-standardized prevalence of current tobacco...,2015,Female,8.3,Albania,2015,Probability (%) of dying between age 30 and ex...,Female,13.7
3,Algeria,2015,Life expectancy at birth (years),Both sexes,76.54,AlgeriaBoth sexes,Algeria,2015,Infant mortality rate (probability of dying be...,Both sexes,...,Algeria,Age-standardized prevalence of current tobacco...,2015,Both sexes,19.3,Algeria,2015,Probability (%) of dying between age 30 and ex...,Both sexes,14.4
4,Algeria,2015,Life expectancy at birth (years),Male,75.65,AlgeriaMale,Algeria,2015,Infant mortality rate (probability of dying be...,Male,...,Algeria,Age-standardized prevalence of current tobacco...,2015,Male,37.0,Algeria,2015,Probability (%) of dying between age 30 and ex...,Male,15.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,Thailand,2015,Life expectancy at birth (years),Male,74.13,ThailandMale,Thailand,2015,Infant mortality rate (probability of dying be...,Male,...,Thailand,Age-standardized prevalence of current tobacco...,2015,Male,44.8,Thailand,2015,Probability (%) of dying between age 30 and ex...,Male,18.4
377,Thailand,2015,Life expectancy at birth (years),Female,80.70,ThailandFemale,Thailand,2015,Infant mortality rate (probability of dying be...,Female,...,Thailand,Age-standardized prevalence of current tobacco...,2015,Female,3.4,Thailand,2015,Probability (%) of dying between age 30 and ex...,Female,11.1
378,Timor-Leste,2015,Life expectancy at birth (years),Both sexes,68.87,Timor-LesteBoth sexes,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Both sexes,...,Timor-Leste,Age-standardized prevalence of current tobacco...,2015,Both sexes,40.8,Timor-Leste,2015,Probability (%) of dying between age 30 and ex...,Both sexes,19.9
379,Timor-Leste,2015,Life expectancy at birth (years),Male,67.31,Timor-LesteMale,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Male,...,Timor-Leste,Age-standardized prevalence of current tobacco...,2015,Male,70.2,Timor-Leste,2015,Probability (%) of dying between age 30 and ex...,Male,21.7
380,Timor-Leste,2015,Life expectancy at birth (years),Female,70.49,Timor-LesteFemale,Timor-Leste,2015,Infant mortality rate (probability of dying be...,Female,...,Timor-Leste,Age-standardized prevalence of current tobacco...,2015,Female,11.5,Timor-Leste,2015,Probability (%) of dying between age 30 and ex...,Female,18.0

In [56]:
for col in Health_All.columns: 
    print(col)

Location_x
Period_x
LifeExpectancyIndicator
Dim1_x
LifeExpectancy
UID
Location_y
Period_y
InfantMortalityIndicator
Dim1_y
InfantMortality
Location_x
Period_x
SuicideRatesIndicator
Dim1_x
SuicideRates
Location_y
Period_y
AlcoholSubstanceAbuseIndicator
Dim1_y
AlcoholSubstanceAbuse
Location_x
MortalityRatePoisoningIndicator
Period_x
Dim1_x
MortalityRatePoisoning
Location_y
TobaccoIndicator
Period_y
Dim1_y
Tobacco
Location
Period
DiseaseDeathIndicator
Dim1
DiseaseDeath

In [57]:
Health_All2 = Health_All[['UID', 'Period', 'Dim1', 'Location', 'LifeExpectancyIndicator','LifeExpectancy', 'InfantMortalityIndicator', 'InfantMortality', 'SuicideRatesIndicator', 'SuicideRates', 'AlcoholSubstanceAbuseIndicator', 'AlcoholSubstanceAbuse', 'MortalityRatePoisoningIndicator', 'MortalityRatePoisoning', 'TobaccoIndicator', 'Tobacco', 'DiseaseDeathIndicator', 'DiseaseDeath']].copy()

In [58]:
Health_All2

,UID,Period,Dim1,Location,LifeExpectancyIndicator,LifeExpectancy,InfantMortalityIndicator,InfantMortality,SuicideRatesIndicator,SuicideRates,AlcoholSubstanceAbuseIndicator,AlcoholSubstanceAbuse,MortalityRatePoisoningIndicator,MortalityRatePoisoning,TobaccoIndicator,Tobacco,DiseaseDeathIndicator,DiseaseDeath
0,AlbaniaBoth sexes,2015,Both sexes,Albania,Life expectancy at birth (years),77.84,Infant mortality rate (probability of dying be...,8.51 [8.21-8.84],Crude suicide rates (per 100 000 population),6.0,Total (recorded+unrecorded) alcohol per capita...,6.74,Mortality rate attributed to unintentional poi...,0.43,Age-standardized prevalence of current tobacco...,29.9,Probability (%) of dying between age 30 and ex...,17.4
1,AlbaniaMale,2015,Male,Albania,Life expectancy at birth (years),76.10,Infant mortality rate (probability of dying be...,9.41 [9.01-9.84],Crude suicide rates (per 100 000 population),7.6,Total (recorded+unrecorded) alcohol per capita...,10.92,Mortality rate attributed to unintentional poi...,0.48,Age-standardized prevalence of current tobacco...,51.4,Probability (%) of dying between age 30 and ex...,20.9
2,AlbaniaFemale,2015,Female,Albania,Life expectancy at birth (years),79.69,Infant mortality rate (probability of dying be...,7.56 [7.23-7.93],Crude suicide rates (per 100 000 population),4.4,Total (recorded+unrecorded) alcohol per capita...,2.53,Mortality rate attributed to unintentional poi...,0.37,Age-standardized prevalence of current tobacco...,8.3,Probability (%) of dying between age 30 and ex...,13.7
3,AlgeriaBoth sexes,2015,Both sexes,Algeria,Life expectancy at birth (years),76.54,Infant mortality rate (probability of dying be...,21.61 [21.13-22.1],Crude suicide rates (per 100 000 population),3.2,Total (recorded+unrecorded) alcohol per capita...,0.93,Mortality rate attributed to unintentional poi...,0.80,Age-standardized prevalence of current tobacco...,19.3,Probability (%) of dying between age 30 and ex...,14.4
4,AlgeriaMale,2015,Male,Algeria,Life expectancy at birth (years),75.65,Infant mortality rate (probability of dying be...,22.93 [22.38-23.48],Crude suicide rates (per 100 000 population),4.8,Total (recorded+unrecorded) alcohol per capita...,1.61,Mortality rate attributed to unintentional poi...,0.97,Age-standardized prevalence of current tobacco...,37.0,Probability (%) of dying between age 30 and ex...,15.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,ThailandMale,2015,Male,Thailand,Life expectancy at birth (years),74.13,Infant mortality rate (probability of dying be...,10.25 [8.96-12.16],Crude suicide rates (per 100 000 population),23.6,Total (recorded+unrecorded) alcohol per capita...,13.52,Mortality rate attributed to unintentional poi...,0.49,Age-standardized prevalence of current tobacco...,44.8,Probability (%) of dying between age 30 and ex...,18.4
377,ThailandFemale,2015,Female,Thailand,Life expectancy at birth (years),80.70,Infant mortality rate (probability of dying be...,8.25 [7.18-9.82],Crude suicide rates (per 100 000 population),5.9,Total (recorded+unrecorded) alcohol per capita...,3.54,Mortality rate attributed to unintentional poi...,0.34,Age-standardized prevalence of current tobacco...,3.4,Probability (%) of dying between age 30 and ex...,11.1
378,Timor-LesteBoth sexes,2015,Both sexes,Timor-Leste,Life expectancy at birth (years),68.87,Infant mortality rate (probability of dying be...,43.24 [30.19-60.58],Crude suicide rates (per 100 000 population),4.6,Total (recorded+unrecorded) alcohol per capita...,2.01,Mortality rate attributed to unintentional poi...,0.44,Age-standardized prevalence of current tobacco...,40.8,Probability (%) of dying between age 30 and ex...,19.9
379,Timor-LesteMale,2015,Male,Timor-Leste,Life expectancy at birth (years),67.31,Infant mortality rate (probability of dying be...,46.92 [32.63-65.66],Crude suicide rates (per 100 000 population),6.2,Total (recorded+unrecorded) alcohol per capita...,3.17,Mortality rate attributed to unintentional poi...,0.49,Age-standardized prevalence of current tobacco...,70.2,Probability (%) of dying between age 30 and ex...,21.7
380,Timor-LesteFemale,2015,Female,Timor-Leste,Life expectancy at birth (years),70.49,Infant mortality rate (probability of dying be...,39.41 [27.42-55.42],Crude suicide rates (per 100 000 population),2.9,Total (recorded+unrecorded) alcohol per capita...,0.82,Mortality rate attributed to unintentional poi...,0.38,Age-standardized prevalence of current tobacco...,11.5,Probability (%) of dying between age 30 and ex...,18.0

In [59]:
for col in Health_All2.columns: 
    print(col)

UID
Period
Dim1
Location
LifeExpectancyIndicator
LifeExpectancy
InfantMortalityIndicator
InfantMortality
SuicideRatesIndicator
SuicideRates
AlcoholSubstanceAbuseIndicator
AlcoholSubstanceAbuse
MortalityRatePoisoningIndicator
MortalityRatePoisoning
TobaccoIndicator
Tobacco
DiseaseDeathIndicator
DiseaseDeath

## ----------------------------

## Step 4 Merge Environmental Factors

In [60]:
dfs1 = [DrinkingWater, SanitizationServices, Doctors, NurseMidwife, CleanFuelTech]

### Two options - data w/ missing values or w/o

In [61]:
Environ_All = reduce(lambda left,right: pd.merge(left,right,on='Location', how='outer'), dfs1).fillna('void')

In [62]:
Environ_All_edit = reduce(lambda left,right: pd.merge(left,right,on='Location'), dfs1)

In [63]:
Environ_All_edit

,Location,Period_x,DrinkingWaterIndicator,DrinkingWater,SanitizationServicesIndicator,Period_y,Dim1,SanitizationServices,Period_x,DoctorsIndicator,Doctors,Period_y,NurseMidwifeIndicator,NurseMidwife,CleanFuelTechIndicator,Period,CleanFuelTech
0,Afghanistan,2015,Population using at least basic drinking-water...,52.39,Population using at least basic sanitation ser...,2015,Total,40.71,2015,"Medical doctors (per 10,000)",2.85,2015,"Nursing and midwifery personnel (per 10,000)",1.30,Proportion of population with primary reliance...,2015,29
1,Andorra,2015,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,2015,Total,100.00,2015,"Medical doctors (per 10,000)",33.33,2015,"Nursing and midwifery personnel (per 10,000)",40.13,Proportion of population with primary reliance...,2015,95
2,Armenia,2015,Population using at least basic drinking-water...,99.60,Population using at least basic sanitation ser...,2015,Total,93.06,2015,"Medical doctors (per 10,000)",29.14,2015,"Nursing and midwifery personnel (per 10,000)",49.54,Proportion of population with primary reliance...,2015,95
3,Australia,2015,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,2015,Total,99.99,2015,"Medical doctors (per 10,000)",34.89,2015,"Nursing and midwifery personnel (per 10,000)",122.00,Proportion of population with primary reliance...,2015,95
4,Austria,2015,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,2015,Total,99.98,2015,"Medical doctors (per 10,000)",51.04,2015,"Nursing and midwifery personnel (per 10,000)",70.14,Proportion of population with primary reliance...,2015,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Uganda,2015,Population using at least basic drinking-water...,38.23,Population using at least basic sanitation ser...,2015,Total,18.42,2015,"Medical doctors (per 10,000)",0.95,2015,"Nursing and midwifery personnel (per 10,000)",15.57,Proportion of population with primary reliance...,2015,5
95,United Arab Emirates,2015,Population using at least basic drinking-water...,96.77,Population using at least basic sanitation ser...,2015,Total,98.58,2015,"Medical doctors (per 10,000)",22.11,2015,"Nursing and midwifery personnel (per 10,000)",49.83,Proportion of population with primary reliance...,2015,95
96,United Kingdom of Great Britain and Northern I...,2015,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,2015,Total,99.11,2015,"Medical doctors (per 10,000)",27.47,2015,"Nursing and midwifery personnel (per 10,000)",82.94,Proportion of population with primary reliance...,2015,95
97,Viet Nam,2015,Population using at least basic drinking-water...,90.73,Population using at least basic sanitation ser...,2015,Total,80.08,2015,"Medical doctors (per 10,000)",7.96,2015,"Nursing and midwifery personnel (per 10,000)",14.23,Proportion of population with primary reliance...,2015,59
98,Zimbabwe,2015,Population using at least basic drinking-water...,51.03,Population using at least basic sanitation ser...,2015,Total,37.57,2015,"Medical doctors (per 10,000)",1.82,2015,"Nursing and midwifery personnel (per 10,000)",13.83,Proportion of population with primary reliance...,2015,29

In [64]:
Environ_All

,Location,Period_x,DrinkingWaterIndicator,DrinkingWater,SanitizationServicesIndicator,Period_y,Dim1,SanitizationServices,Period_x,DoctorsIndicator,Doctors,Period_y,NurseMidwifeIndicator,NurseMidwife,CleanFuelTechIndicator,Period,CleanFuelTech
0,Afghanistan,2015,Population using at least basic drinking-water...,52.39,Population using at least basic sanitation ser...,2015,Total,40.71,2015,"Medical doctors (per 10,000)",2.85,2015,"Nursing and midwifery personnel (per 10,000)",1.3,Proportion of population with primary reliance...,2015,29
1,Albania,2015,Population using at least basic drinking-water...,89.88,Population using at least basic sanitation ser...,2015,Total,97.69,void,void,void,void,void,void,Proportion of population with primary reliance...,2015,76
2,Algeria,2015,Population using at least basic drinking-water...,88.69,Population using at least basic sanitation ser...,2015,Total,87.5,void,void,void,void,void,void,Proportion of population with primary reliance...,2015,95
3,Andorra,2015,Population using at least basic drinking-water...,100,Population using at least basic sanitation ser...,2015,Total,100,2015,"Medical doctors (per 10,000)",33.33,2015,"Nursing and midwifery personnel (per 10,000)",40.13,Proportion of population with primary reliance...,2015,95
4,Angola,2015,Population using at least basic drinking-water...,26.71,Population using at least basic sanitation ser...,2015,Total,47.37,void,void,void,void,void,void,Proportion of population with primary reliance...,2015,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Viet Nam,2015,Population using at least basic drinking-water...,90.73,Population using at least basic sanitation ser...,2015,Total,80.08,2015,"Medical doctors (per 10,000)",7.96,2015,"Nursing and midwifery personnel (per 10,000)",14.23,Proportion of population with primary reliance...,2015,59
190,Yemen,2015,Population using at least basic drinking-water...,54.7,Population using at least basic sanitation ser...,2015,Total,58.5,void,void,void,2015,"Nursing and midwifery personnel (per 10,000)",7.24,Proportion of population with primary reliance...,2015,60
191,Zambia,2015,Population using at least basic drinking-water...,40.59,Population using at least basic sanitation ser...,2015,Total,25.98,void,void,void,void,void,void,Proportion of population with primary reliance...,2015,15
192,Zimbabwe,2015,Population using at least basic drinking-water...,51.03,Population using at least basic sanitation ser...,2015,Total,37.57,2015,"Medical doctors (per 10,000)",1.82,2015,"Nursing and midwifery personnel (per 10,000)",13.83,Proportion of population with primary reliance...,2015,29
193,Saint Kitts and Nevis,void,void,void,void,void,void,void,2015,"Medical doctors (per 10,000)",26.76,2015,"Nursing and midwifery personnel (per 10,000)",42.19,Proportion of population with primary reliance...,2015,95

In [66]:
for col in Environ_All.columns: 
    print(col)

Location
Period_x
DrinkingWaterIndicator
DrinkingWater
SanitizationServicesIndicator
Period_y
Dim1
SanitizationServices
Period_x
DoctorsIndicator
Doctors
Period_y
NurseMidwifeIndicator
NurseMidwife
CleanFuelTechIndicator
Period
CleanFuelTech

In [67]:
Environ_All2 = Environ_All[['Period', 'Location', 'DrinkingWaterIndicator','DrinkingWater', 'SanitizationServicesIndicator', 'SanitizationServices', 'DoctorsIndicator', 'Doctors', 'NurseMidwifeIndicator', 'NurseMidwife','CleanFuelTechIndicator', 'CleanFuelTech']].copy()

In [68]:
Environ_All2

,Period,Location,DrinkingWaterIndicator,DrinkingWater,SanitizationServicesIndicator,SanitizationServices,DoctorsIndicator,Doctors,NurseMidwifeIndicator,NurseMidwife,CleanFuelTechIndicator,CleanFuelTech
0,2015,Afghanistan,Population using at least basic drinking-water...,52.39,Population using at least basic sanitation ser...,40.71,"Medical doctors (per 10,000)",2.85,"Nursing and midwifery personnel (per 10,000)",1.3,Proportion of population with primary reliance...,29
1,2015,Albania,Population using at least basic drinking-water...,89.88,Population using at least basic sanitation ser...,97.69,void,void,void,void,Proportion of population with primary reliance...,76
2,2015,Algeria,Population using at least basic drinking-water...,88.69,Population using at least basic sanitation ser...,87.5,void,void,void,void,Proportion of population with primary reliance...,95
3,2015,Andorra,Population using at least basic drinking-water...,100,Population using at least basic sanitation ser...,100,"Medical doctors (per 10,000)",33.33,"Nursing and midwifery personnel (per 10,000)",40.13,Proportion of population with primary reliance...,95
4,2015,Angola,Population using at least basic drinking-water...,26.71,Population using at least basic sanitation ser...,47.37,void,void,void,void,Proportion of population with primary reliance...,48
...,...,...,...,...,...,...,...,...,...,...,...,...
189,2015,Viet Nam,Population using at least basic drinking-water...,90.73,Population using at least basic sanitation ser...,80.08,"Medical doctors (per 10,000)",7.96,"Nursing and midwifery personnel (per 10,000)",14.23,Proportion of population with primary reliance...,59
190,2015,Yemen,Population using at least basic drinking-water...,54.7,Population using at least basic sanitation ser...,58.5,void,void,"Nursing and midwifery personnel (per 10,000)",7.24,Proportion of population with primary reliance...,60
191,2015,Zambia,Population using at least basic drinking-water...,40.59,Population using at least basic sanitation ser...,25.98,void,void,void,void,Proportion of population with primary reliance...,15
192,2015,Zimbabwe,Population using at least basic drinking-water...,51.03,Population using at least basic sanitation ser...,37.57,"Medical doctors (per 10,000)",1.82,"Nursing and midwifery personnel (per 10,000)",13.83,Proportion of population with primary reliance...,29
193,2015,Saint Kitts and Nevis,void,void,void,void,"Medical doctors (per 10,000)",26.76,"Nursing and midwifery personnel (per 10,000)",42.19,Proportion of population with primary reliance...,95

In [70]:
for col in Environ_All2.columns: 
    print(col)

Period
Location
DrinkingWaterIndicator
DrinkingWater
SanitizationServicesIndicator
SanitizationServices
DoctorsIndicator
Doctors
NurseMidwifeIndicator
NurseMidwife
CleanFuelTechIndicator
CleanFuelTech

### Proceed without void rows

In [72]:
for col in Environ_All_edit.columns: 
    print(col)

Location
Period_x
DrinkingWaterIndicator
DrinkingWater
SanitizationServicesIndicator
Period_y
Dim1
SanitizationServices
Period_x
DoctorsIndicator
Doctors
Period_y
NurseMidwifeIndicator
NurseMidwife
CleanFuelTechIndicator
Period
CleanFuelTech

In [73]:
Environ_All_edit2 = Environ_All_edit[['Period', 'Location', 'DrinkingWaterIndicator','DrinkingWater', 'SanitizationServicesIndicator', 'SanitizationServices', 'DoctorsIndicator', 'Doctors', 'NurseMidwifeIndicator', 'NurseMidwife','CleanFuelTechIndicator', 'CleanFuelTech']].copy()

In [74]:
for col in Environ_All_edit2.columns: 
    print(col)

Period
Location
DrinkingWaterIndicator
DrinkingWater
SanitizationServicesIndicator
SanitizationServices
DoctorsIndicator
Doctors
NurseMidwifeIndicator
NurseMidwife
CleanFuelTechIndicator
CleanFuelTech

## ------------------------

## Step 5 Import World Happiness Data Set

In [75]:
Happiness = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2015.csv")

In [76]:
Happiness

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [81]:
Happiness['Location'] = Happiness['Country']
Happiness

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Location
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switzerland
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Iceland
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmark
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burundi
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

## Step 6 Merge Health and Happiness Datasets

In [82]:
dfs3 = [Happiness, Health_All2]
Health_Happiness = reduce(lambda left,right: pd.merge(left,right,on='Location'), dfs3)

In [83]:
Health_Happiness

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,SuicideRatesIndicator,SuicideRates,AlcoholSubstanceAbuseIndicator,AlcoholSubstanceAbuse,MortalityRatePoisoningIndicator,MortalityRatePoisoning,TobaccoIndicator,Tobacco,DiseaseDeathIndicator,DiseaseDeath
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,Crude suicide rates (per 100 000 population),17.1,Total (recorded+unrecorded) alcohol per capita...,11.58,Mortality rate attributed to unintentional poi...,0.099,Age-standardized prevalence of current tobacco...,25.7,Probability (%) of dying between age 30 and ex...,8.7
1,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,Crude suicide rates (per 100 000 population),22.0,Total (recorded+unrecorded) alcohol per capita...,17.73,Mortality rate attributed to unintentional poi...,0.100,Age-standardized prevalence of current tobacco...,28.7,Probability (%) of dying between age 30 and ex...,10.8
2,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,Crude suicide rates (per 100 000 population),12.3,Total (recorded+unrecorded) alcohol per capita...,5.64,Mortality rate attributed to unintentional poi...,0.095,Age-standardized prevalence of current tobacco...,22.7,Probability (%) of dying between age 30 and ex...,6.7
3,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,Crude suicide rates (per 100 000 population),14.0,Total (recorded+unrecorded) alcohol per capita...,8.74,Mortality rate attributed to unintentional poi...,0.210,Age-standardized prevalence of current tobacco...,15.7,Probability (%) of dying between age 30 and ex...,9.3
4,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,Crude suicide rates (per 100 000 population),22.3,Total (recorded+unrecorded) alcohol per capita...,13.33,Mortality rate attributed to unintentional poi...,0.280,Age-standardized prevalence of current tobacco...,16.0,Probability (%) of dying between age 30 and ex...,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,...,Crude suicide rates (per 100 000 population),13.9,Total (recorded+unrecorded) alcohol per capita...,4.79,Mortality rate attributed to unintentional poi...,4.400,Age-standardized prevalence of current tobacco...,14.2,Probability (%) of dying between age 30 and ex...,20.0
305,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,...,Crude suicide rates (per 100 000 population),6.0,Total (recorded+unrecorded) alcohol per capita...,1.21,Mortality rate attributed to unintentional poi...,2.760,Age-standardized prevalence of current tobacco...,2.3,Probability (%) of dying between age 30 and ex...,19.4
306,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,...,Crude suicide rates (per 100 000 population),8.9,Total (recorded+unrecorded) alcohol per capita...,7.03,Mortality rate attributed to unintentional poi...,5.300,Age-standardized prevalence of current tobacco...,13.6,Probability (%) of dying between age 30 and ex...,22.8
307,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,...,Crude suicide rates (per 100 000 population),13.1,Total (recorded+unrecorded) alcohol per capita...,11.59,Mortality rate attributed to unintentional poi...,6.920,Age-standardized prevalence of current tobacco...,20.1,Probability (%) of dying between age 30 and ex...,23.0
308,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,...,Crude suicide rates (per 100 000 population),4.8,Total (recorded+unrecorded) alcohol per capita...,2.74,Mortality rate attributed to unintentional poi...,3.740,Age-standardized prevalence of current tobacco...,7.2,Probability (%) of dying between age 30 and ex...,22.7

In [84]:
for col in Health_Happiness.columns: 
    print(col)

Country
Region
Happiness Rank
Happiness Score
Standard Error
Economy (GDP per Capita)
Family
Health (Life Expectancy)
Freedom
Trust (Government Corruption)
Generosity
Dystopia Residual
Location
UID
Period
Dim1
LifeExpectancyIndicator
LifeExpectancy
InfantMortalityIndicator
InfantMortality
SuicideRatesIndicator
SuicideRates
AlcoholSubstanceAbuseIndicator
AlcoholSubstanceAbuse
MortalityRatePoisoningIndicator
MortalityRatePoisoning
TobaccoIndicator
Tobacco
DiseaseDeathIndicator
DiseaseDeath

In [85]:
Health_Happiness.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Period,LifeExpectancy,SuicideRates,AlcoholSubstanceAbuse,MortalityRatePoisoning,Tobacco,DiseaseDeath
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.00000,309.0,309.000000,309.000000,309.000000,309.00000,309.00000,309.000000
mean,74.582524,5.516680,0.046384,0.895250,1.023582,0.662241,0.440372,0.146768,0.241125,2.10735,2015.0,73.355631,10.122654,6.725775,1.03789,23.16246,17.780583
std,46.892982,1.179726,0.017006,0.413129,0.263155,0.244721,0.152954,0.131345,0.131610,0.55610,0.0,7.996043,8.016991,5.568358,1.24836,14.24164,6.704443
min,1.000000,2.905000,0.018480,0.015300,0.353860,0.000000,0.000000,0.000000,0.000000,0.67042,2015.0,45.070000,0.800000,0.000600,0.05800,0.20000,5.800000
25%,30.000000,4.565000,0.036070,0.595430,0.851880,0.515290,0.340370,0.057860,0.142720,1.75873,2015.0,67.840000,4.500000,2.050000,0.23000,12.10000,12.500000
50%,74.000000,5.399000,0.042670,0.985490,1.078600,0.729260,0.441320,0.104640,0.216840,2.02518,2015.0,74.950000,8.000000,5.480000,0.44000,22.80000,17.200000
75%,117.000000,6.574000,0.050130,1.228570,1.248230,0.873370,0.556640,0.190340,0.330750,2.46570,2015.0,79.870000,13.400000,10.760000,1.38000,31.90000,22.500000
max,157.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.60214,2015.0,86.410000,61.700000,24.710000,6.92000,72.10000,39.000000

Export data

In [167]:
Health_Happiness.to_excel(r'C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Data Wrangling/HealthHappiness_File.xlsx', index = False)

## Step 7 Merge Happiness and Environmental/Support Datasets

In [86]:
dfs3 = [Happiness, Environ_All_edit2]
Environ_Happiness = reduce(lambda left,right: pd.merge(left,right,on='Location'), dfs3)

In [87]:
Environ_Happiness

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,DrinkingWaterIndicator,DrinkingWater,SanitizationServicesIndicator,SanitizationServices,DoctorsIndicator,Doctors,NurseMidwifeIndicator,NurseMidwife,CleanFuelTechIndicator,CleanFuelTech
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,99.89,"Medical doctors (per 10,000)",41.90,"Nursing and midwifery personnel (per 10,000)",168.60,Proportion of population with primary reliance...,95
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,98.78,"Medical doctors (per 10,000)",37.83,"Nursing and midwifery personnel (per 10,000)",163.10,Proportion of population with primary reliance...,95
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,99.60,"Medical doctors (per 10,000)",39.26,"Nursing and midwifery personnel (per 10,000)",102.40,Proportion of population with primary reliance...,95
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,98.06,"Medical doctors (per 10,000)",26.47,"Nursing and midwifery personnel (per 10,000)",178.60,Proportion of population with primary reliance...,95
4,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,...,Population using at least basic drinking-water...,100.00,Population using at least basic sanitation ser...,99.45,"Medical doctors (per 10,000)",33.31,"Nursing and midwifery personnel (per 10,000)",8.70,Proportion of population with primary reliance...,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Burkina Faso,Sub-Saharan Africa,152,3.587,0.04324,0.25812,0.85188,0.27125,0.39493,0.12832,...,Population using at least basic drinking-water...,37.09,Population using at least basic sanitation ser...,18.83,"Medical doctors (per 10,000)",0.66,"Nursing and midwifery personnel (per 10,000)",6.70,Proportion of population with primary reliance...,8
77,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,...,Population using at least basic drinking-water...,52.39,Population using at least basic sanitation ser...,40.71,"Medical doctors (per 10,000)",2.85,"Nursing and midwifery personnel (per 10,000)",1.30,Proportion of population with primary reliance...,29
78,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,...,Population using at least basic drinking-water...,51.22,Population using at least basic sanitation ser...,64.24,"Medical doctors (per 10,000)",1.13,"Nursing and midwifery personnel (per 10,000)",9.88,Proportion of population with primary reliance...,5
79,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,...,Population using at least basic drinking-water...,55.56,Population using at least basic sanitation ser...,45.88,"Medical doctors (per 10,000)",0.50,"Nursing and midwifery personnel (per 10,000)",6.66,Proportion of population with primary reliance...,5
80,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,...,Population using at least basic drinking-water...,46.19,Population using at least basic sanitation ser...,15.30,"Medical doctors (per 10,000)",0.49,"Nursing and midwifery personnel (per 10,000)",3.02,Proportion of population with primary reliance...,7

In [88]:
for col in Environ_Happiness.columns: 
    print(col)

Country
Region
Happiness Rank
Happiness Score
Standard Error
Economy (GDP per Capita)
Family
Health (Life Expectancy)
Freedom
Trust (Government Corruption)
Generosity
Dystopia Residual
Location
Period
DrinkingWaterIndicator
DrinkingWater
SanitizationServicesIndicator
SanitizationServices
DoctorsIndicator
Doctors
NurseMidwifeIndicator
NurseMidwife
CleanFuelTechIndicator
CleanFuelTech

In [89]:
Environ_Happiness.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Period,DrinkingWater,SanitizationServices,Doctors,NurseMidwife,CleanFuelTech
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.0,81.000000,81.000000,81.000000,81.000000,81.000000
mean,71.938272,5.566630,0.046971,0.912802,1.025964,0.679189,0.436350,0.152883,0.244771,2.114640,2015.0,84.365802,79.602716,21.005432,48.998025,70.753086
std,48.373894,1.247687,0.019881,0.418171,0.302050,0.236024,0.167138,0.130956,0.125789,0.525445,0.0,21.780668,28.448019,15.416407,45.912189,34.312728
min,1.000000,2.839000,0.018480,0.015300,0.000000,0.066990,0.076990,0.000000,0.000000,0.670420,2015.0,29.770000,8.840000,0.380000,1.010000,5.000000
25%,29.000000,4.642000,0.035890,0.741900,0.905570,0.601640,0.296710,0.061460,0.166810,1.801010,2015.0,78.970000,67.290000,4.650000,12.690000,44.000000
50%,67.000000,5.689000,0.042060,1.007610,1.103950,0.737930,0.459510,0.121390,0.222500,2.115690,2015.0,96.770000,95.510000,22.110000,34.830000,95.000000
75%,113.000000,6.575000,0.050510,1.230110,1.260380,0.875190,0.584500,0.193170,0.330880,2.465310,2015.0,100.000000,99.110000,32.190000,70.140000,95.000000
max,158.000000,7.587000,0.136930,1.563910,1.402230,0.955620,0.669730,0.551910,0.576300,3.602140,2015.0,100.000000,100.000000,52.530000,178.600000,95.000000

Export data

In [174]:
Environ_Happiness.to_excel(r'C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Data Wrangling/EnvironHappiness_File.xlsx', index = False)